<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

   <%= stylesheet_link_tag    "application" %>
   <%= javascript_include_tag "vendor/modernizr" %>
   <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
 </head>

 <body>

 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
 <script src="jquery.js"></script>
 <script src="uri.js"></script>
 <script src="jsonp.js"></script>
 <script src="classie.js"></script>


 <nav class="top-bar" data-topbar role="navigation">
   <ul class="title-area">
     <li class="name">
       <h1><a href="#" id="name-header">Tapped</a></h1>
     </li>
     <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
       <div class="brewery-topper">
         <div class ="info">
           <img class="logo"></img>
           <p class="address"></p>
           <p class="phone"></p>
         </div>
         <div class="left">
            <h1 class = "brewery-name"></h1>
            <p class="est"></p>
            <p class="description"></p>
          </div>
        </div>
        <div class="beer-buttons">
          <li class = "add-beer"><a href="#">Add Beer</a></li>
          <li class = "been-here"><a href="#">Drank Here</a></li>
        </div>
        <div class="brews">
        </div>
	       <%= render "beer" %>
    </nav>


     <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
     <li class = "add_beer_pic"><li>
   </ul>

   <section class="top-bar-section">
     <ul class="right">

         <% if current_user %>
         <li id="login"><%= current_user.username %></li>
         <li id="login"><%= link_to 'Sign Out', '/signout' %></li>

         <% else %>
           <li class = "signin" id="login"><a href="#">Sign In</a></li>
         <% end %>
         </ul>
       </li>

   </section>
 </nav>



   <%= yield %>


 </body>
</html>
